.Editor {
  max-width: 1100px;
  margin: auto;

  .Editor__canvas {
    display: flex;
    flex-direction: row;
  }

  .Editor__post {

  }

  .Editor__picker {
    height: 200px;
  }

  .Editor__inputs {
    .Editor__inputs--nome {
      color: #000;
    }
    .Editor__inputs--post {
      color: #000;
    }
  }
}
