.Post {
  margin-top: 30px;
  color: white;

  .Post__box {
    position: relative;
    padding: 10px;
    // width: 100%;
    overflow: hidden;
  }
  .Post__box:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .Post__box--content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    margin: 10%;
  }

  .Post__name, .Post__name {
    margin-bottom: 0;
  }

  .Post__text{
    margin: 0;
  }
  .Post__footer {
    border-top: 2px solid white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;

    .Post__footer--text {
      margin-top: 15px;
      font-size: 16px;
      font-weight: normal;
    }

  }
}
